[Unit]
Description=Mail notify on restart
Before=shutdown.target reboot.target halt.target
Requires=network.target
After=network.target
DefaultDependencies=no

[Service]
ExecStart=/usr/local/bin/reboot_notify.sh start
ExecStop=/usr/local/bin/reboot_notify.sh stop

[Install]
WantedBy=multi-user.target
